body {
    background-image: url("https://getwallpapers.com/wallpaper/full/9/1/d/364210.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.box {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
}